<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WaaSAlphaMark1.Properties.Settings.dccadbeu2taller03ConnectionString"
            connectionString="Data Source=dccsrveu2taller03.database.windows.net;Initial Catalog=dccadbeu2taller03;User ID=adminusr"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>