<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tenantID" value="aa0fda5b-fa1f-4585-a8e7-3b8dfc42312e"/>
    <add key="applicationId" value="18dfd4fb-bb0f-4d8a-9cf3-2318221be34e"/>
    <add key="authenticationKey" value="FTPjkbZU_628U-ehgq4Lp-c8GOY.74d291"/>
    <add key="dataFactoryName" value="adfpocd01"/>
    <add key="subscriptionId" value="433bd50e-8953-4b73-87c8-382037395d88"/>
    <add key="resourceGroup" value="gr-waas-poc-ea2-01"/>
    <add key="resource" value="https://management.azure.com/"/>
    <add key="autority" value="https://login.microsoftonline.com/"/>
    <add key="sqlStrCon" value="Data Source=dccsrveu2taller03.database.windows.net;Initial Catalog=dccadbeu2taller03;Persist Security Info=True;User ID=adminusr;Password=@psstaller01" />
    <add key="Key2" value="2" />
  </appSettings>
    <connectionStrings>
        <add name="WaaSDB"
            connectionString="Data Source=dccsrveu2taller03.database.windows.net;Initial Catalog=dccadbeu2taller03;User ID=adminusr"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>